.section-container {
  min-height: 100vh;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    .section-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }

    .students-total {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
  }

  table {
    width: 100%; //1588px

    th {
      padding: 7px 0;
      border-top: 0.5px solid #858587;
      border-bottom: 0.5px solid #858587;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: left;
      color: #ffffff;
    }

    td {
      padding: 7px 0;
      border-bottom: 0.5px solid #858587;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }

    .order-data,
    .enrollment-data,
    .bimester-data,
    .action-data {
      text-align: center;
    }

    .order-data {
      width: 6%; // 5.92%; // 94px;
    }

    .name-data {
      width: 32%; //32.61%;
      padding-left: 110px; // 502px
    }

    .enrollment-data {
      width: 8%; //5.67%
    }

    .course-data {
      width: 32%; //35.39%; // 562px
      padding-left: 218px;
    }

    .bimester-data {
      width: 6%; // 5.1%; // 81px
    }

    .action-data {
      width: 16%; // 270px
      padding-left: 46px;

      .buttons-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
      }
    }
  }
}
