.form-container {
  width: 100%; //1588px
  display: grid;
  grid-template-columns: (23.93% 15.49% 22.98% 15.49% 12.53%);
  gap: 40px;
  margin-bottom: 40px;

  input,
  select {
    padding: 9px 32px;
    border-radius: 12px;

    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #00081d;

    background: #ffffff;
  }

  button {
    padding: 9px;
    border: 0;
    border-radius: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;

    background: #1a2edf;
  }
}
